*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid gray;
	text-align: center;
}


/*nav*/
nav{
	width: 100%;
	border-bottom: 1px solid gray;
}

.list-item{
	text-align: center;
}

.nav-item{
	display: inline-block;
	padding: 15px 20px;
}

/*main*/
main{width: 800px;
	margin: 50px auto;
}

.box{
	width: 200px;
	height: 200px;
	float: left;
}

.color1{
	background-color: #e6ffe9;
}
.color2{
	background-color: #cbffd3;
}
.color3{
	background-color: #aeffbd;
}
.color4{
	background-color: #93ffab;
}
.color5{
	background-color: #f3ffd8;
}
.color6{
	background-color: #edffbe;
}
.color7{
	background-color: #e9ffa5;
}
.color8{
	background-color: #e4ff8d;
}
.color9{
	background-color: #d9e5ff;
}
.color10{
	background-color: #bad3ff;
}
.color11{
	background-color: #a4c6ff;
}
.color12{
	background-color: #8eb8ff;
}


/*footer*/
footer{
	width: 100%;
	height: 120px;
	background-color: gray;
}

.footer-text{
	text-align: center;
	line-height: 120px;
	color: white;
}